<div class="navbar navbar-fixed-top" ng-controller="UserCtrl">
  <div class="navbar-inner">
    <div class="container-fluid">

        <ul class="nav"><li>
          <a href="/"><i class="icon-home"></i></a></li>
          <!-- <li><a data-toggle="tooltip" title="Rules" data-placement="bottom" target="_blank" href="http://www.climatecentre.org/site/paying-for-predictions"><i class="icon-info-sign"></i></a></li> -->

          <li><a href="/find.html">Play</a></li>
          
        </ul>


      <ul class="nav pull-right" ng-show="currentUser" ng-cloak>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <b>{{currentUser.username}}</b> is signed in as the organizer.
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><a href="/organizer.html">Manage competitions</a></li>
            <li><a href="#"></i> Results</a></li>
            <li><a href ng-click="logout()">Logout</a></li>
          </ul>
        </li>

      </ul>

      <ul class="nav pull-right" ng-hide="currentUser" ng-cloak>
        <li><a href="/organizer.html">Organizers click here</a></li>
      </ul>
      
    </div>
 
    </div>
  </div>



