<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h3 id="myModalLabel">Create a strategy</h3>
</div>
<div class="modal-body">

        <form class="form-horizontal">     

          <div>   
            <div>Would you like the computer to generate a strategy for you?
             <button class="btn btn-inverse pull-right" ng-click="clearRules()">Clear rules</button>&nbsp;<button class="btn btn-info pull-right" ng-click="generateStrategy()">Generate strategy</button>  </div>
            <hr>
          </div>
          
          <div>
            <h4>Initial Bid</h4>

            Forecast bid:
            
            <input id="minp" class="input-small span1" type="number" value="4" min="0" max="{{competitionData.numberBeans}}" ng-model="modal.strategy.forecast_bid">
 
            <!-- DRR bid: -->

            <!-- <input id="maxp" class="input-small" type="number" value="4" min="1" max="20" ng-model="modal.strategy.drr_bid"> -->
            
          </div>

          <div>
            <h4>Take early action</h4>

            <div>IF 
          
            <select class="input-small span3" id="fddropt">
              <option value="F" selected="selected">Forecast available</option>
              <!-- <option value="DDR">DDR</option> -->
              <!-- <option value="F+DDR">Forecast + DDR</option> -->
              <option value="none">None</option>
            </select>

            and Round

            <select class="input" id="equalopt">
              <option value="geq" selected="selected">greater than or equal to</option>
              <option value="leq">less than or equal to</option>
              <option value="eq">equal to</option>
            </select>

            <input id="roundopt" class="input-small span1" type="number" value="4" min="1" max="{{competitionData.numberRounds}}">

            and Regional rainfall >

            <input class="input-small span1" id="rainopt" type="number" min="0" max="6" value="0">

            <button class="btn pull-right" ng-click="addRule()">Add rule <i class="icon-ok"></i></button>

            </div>
          </div>      

          <div>
            
            <h4>Rule list <small>Drag and drop to re-order</small></h4>
            <div class="well" style="min-height:100px;">


              <ol dnd-list="modal.strategy.rules">
                <li ng-repeat="rule in modal.strategy.rules">
                  
                  IF <b>{{rule[0]}}</b> and Round <b>{{rule[1]}}</b> <b>{{rule[2]}}</b> and Reg. Rain < <b>{{rule[3]}} </b> <a class="btn btn-mini btn-link" ng-click="deleteRule( $index )">(delete)</a>

                </li>

              </ol>
            </div>             
                        
          </div>

      </form>   

</div>
<div class="modal-footer">

  <button class="btn btn-primary" ng-click="parentController(dismiss)">Submit strategy</button>
  <button class="btn btn-link" ng-click="dismiss()">cancel</button>
  
</div>
