<div class="header" ng-controller="UserCtrl">
    <div ng-show="userLoaded">
      <span  class="lead" ng-show="currentUser">
        <p>Welcome, <b>@{{currentUser.username}}</b>!</p>
        <div><a href ng-click="logout()">Logout</a></div>
        <div><a href>Change my password</a></div>
        <div><a href>View competition history</a></div>
        <div><a href>Delete account</a></div>
      </span>
      
      <span ng-hide="currentUser">
        <span ng-hide="loginVisible || signUpVisible">
          <a class="btn btn-primary btn-large" href ng-click="showLogin(true)">Login</a> <a class="btn btn-link" href ng-click="showSignUp(true)">Sign up</a></span>
        </span>
    </div>

  <div class="" ng-show="loginVisible">    
    <form>
      <label>Username</label>
      <input type="text" ng-model="username" />
      <label>Password</label>
      <input type="password" ng-model="password" />
      <div>
        <button class="btn btn-primary" ng-click="login()">Log in</button>
        <button class="btn-link" ng-click="showLogin(false)">Cancel</button>
      </div>
    </form>
  </div>

  <div class="" ng-show="signUpVisible">
    <form>
      <input type="text" class="input-xlarge" ng-model="suusername" placeholder="username" />
      
      <input type="text" class="input-xlarge" ng-model="sudisplayname" placeholder="full name"/>
      
      <input type="password" class="input-xlarge" ng-model="supassword" placeholder="password" />
  
      <input type="password" class="input-xlarge" ng-model="suconfirmPassword" placeholder="confirm password" />
      <div>
        <button class="btn btn-primary" ng-click="register()">Sign up</button>
        <button class="btn-link" ng-click="showSignUp(false)">Cancel</button>
      </div>
    </form>    
  </div>

</div>