<!DOCTYPE html>
<html ng-app="predictionApp">
<head>
  <title>Paying for Predictions</title>
  <link rel="stylesheet" href="css/bootstrap.min.css" />
  <link rel="stylesheet" href="css/style.css" />
  <link rel="stylesheet" type="text/css" href="css/ng-grid.css" />  
  <!-- Angular does some things with CSS so it's good to load this in the head -->

  <script type="text/javascript" src="/js/lib/angular.js"></script>
  <style type="text/css">

    .gridStyle {
    border: 0px solid rgb(212,212,212);
    width: 99%; 
    height:400px;
  }

  .ngColMenu {
    background-color: #fff;
  }

  body {
    padding-top: 40px;
  }

  </style>
  <link rel="stylesheet" href="css/bootstrap-responsive.min.css" />
</head>
<body ng-show="userLoaded" ng-cloak>

  <ng-include src="'partials/headerNavbar.html'"></ng-include>

  <div class="container" ng-controller='AllCompControl' >
    <div class="row">
         <div class="span12">

          <p class=""><h3>To play <a>Pay For Predictions</a>, you need to join an open competition</h3><span class="lead">If you know the name of your competition, enter it here: 
          </span>
          
          <span class="input-append">
            <input type="text" id="quickjoin" ng-model="quickjoinname" name="quickjoin" placeholder="Competition name" class="input-large">

            <button class="btn btn-primary" ng-click="quickJoin()" type="button">Go!</button>
          </span>
          
                      <br><br>

          
      </div>


    
                

      <div class="span12">
        <h3>If you don't know the name, browse the list of open competitions below</h3>
          
        <div class="pull-right"><small>Click on the black triangle to search</small></div>
        <div class="clearfix"></div>

        
        <div class="gridStyle" ng-grid="gridOptions"></div>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="/js/lib/jquery-1.9.1.js"></script>
  <script type="text/javascript" src="/js/lib/jquery-ui-1.10.3.custom.min.js"></script>
  <script type="text/javascript" src="/js/lib/bootstrap.min.js"></script>
  <script type="text/javascript" src="/js/lib/ng-grid-2.0.5.min.js"></script>
  <script type="text/javascript" src="/js/lib/angular-strap.min.js"></script>
  <script type="text/javascript" src="/dpd.js"></script>
  <script type="text/javascript" src="/js/global.js"></script>
  <script type="text/javascript" src="/js/game.js"></script>

</body>
</html>